
body{
    background-color: rgb(161, 211, 194);
}
#tablero{
    display: block;
}
.casilla{
    color: beige;
    width: 2em;
    height: 2em;
    display: inline-block;
    text-align: center;
    line-height: 2em;
    background-color: blue;
    margin: 2px 0;
}

.barco{
    color: rgb(189, 189, 54);
    width: 2em;
    height: 2em;
    display: inline-block;
    text-align: center;
    line-height: 2em;
    background-color: blue;
    margin: 2px 0;
}
.transparente{
    opacity: 0.5;
}
.conBarco{
    background-color: coral;
}
.clear{
    clear: both;
}